@font-face{font-family:"robotoregular";src:url("roboto-regular.ttf") format("opentype");}
html,body{font-family:"robotoregular",sans-serif;color:#000;background:#fff;margin:0;padding:0;text-align:center;margin:0;padding:0;}
ul,li{margin:0;padding:0;}
a{color:#000;font-weight:bold;}
h1{font-size:1.6rem;font-weight:bold;margin:0;color:#fff;padding:0;margin:0;background-color:#000;text-align:center;position:relative;}
h1 a{color:#fff;display:block;text-decoration:none;background:#000;padding:1rem;margin:0;}
h1 img{position:absolute;right:0;top:0;padding:1.4rem 0.5rem;background:#000;}
h2{margin:0 0.5rem;padding:1rem 0 0 0;}
h3{margin:1em;}
ul li a, ul li span{display:block;padding:1em 0;margin:0;width:100%;text-align:center;background:#eee;border-bottom:solid 1px #999;color:#000;text-decoration:none;font-weight:bold;}
p{text-align:left;padding:0 0.5rem;margin:1rem auto;font-size:1.2em;max-width:45rem;}
p.c{text-align:center;}
ol{text-align:left;}
ol li{padding:0 2rem 0 0;margin:1rem auto;font-size:1.2em;max-width:45rem;}
.obrazek{max-width:45rem;padding:0;margin:0 auto;diplay:block;background:#eee;}
.obrazek a{display:block;font-size:0;}
.obrazek p{margin:0 0 1em 0;padding:0.5em;}
li.bookmark{background:url(star.svg) no-repeat 95% 50%;background-size:1em;}
.bm{display:inline-block;}
.bm:after, h2.bookmark:after{content:'';display:inline-block;width:2em;height: 1em;background:url(star.svg) no-repeat 50% 50%;background-size:1em;}
#q{width:100%;margin:0;padding:0.5rem 0;border:0;font-size:1.6rem;border-bottom:solid #000 5px;}
